/****************** Element Selector ******************/

body {
    background-color: #F8F4EC;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: #A19882;
}

img {
    margin: 4px;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-code {
    display: inline;
}

.slash {
    background-color: #C2B8A3;
    border-radius: 10%;
    padding: 4px;
}

/******************* Nav Bar ***********************/
.navbar-s {
    list-style-type: none;
    background-color: #C2B8A3;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: sticky;
}

.nav-item-s a {
    font-family: 'DM Serif Display', serif;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

.nav-item-right {
    float: right;
    margin-top: 4px;
}

.nav-item-right a {
    font-size: larger;
}

.nav-item-left {
    float: left;
}

.nav-item-left img {
    padding-right: 4px;
}

.nav-item-left a {
    font-size: x-large;
}

.inline {
    color: #a39b83;
    font-weight: bold;
}

/******************* Title *********************/
.highlight-title {
    background: linear-gradient(120deg, #C2B8A3 0%, #E6DDC6 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
    padding: 10px;
}

.highlight {
    background: #E6DDC6;
    padding: 0 6px;
    border-radius: 4%;
}