/******************* Element Selector ******************/

body {
    background-color: #F8F4EC;
    font-family: 'Quicksand', sans-serif;
}

h1,
h3,
h4 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    display: inline;
    font-size: 4rem;
}

h3 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}

h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: #A19882;
}

video,
img {
    max-width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.row>* {
    padding: 0;
}

.typescript-icon {
    height: 2.1em
}

/********************* Heading ***********************/

.heading-col {
    min-height: 80vh;
}

.heading-intro {
    width: 360px;
    overflow: hidden;
}

.heading-intro h3 {
    text-align: justify;
}

.photo1 {
    padding-right: 0px;
}

/******************* Nav Bar ***********************/
.navbar-s {
    list-style-type: none;
    background-color: #C2B8A3;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: sticky;
}

.nav-item-s a {
    font-family: 'DM Serif Display', serif;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

.nav-item-right {
    float: right;
    margin-top: 4px;
}

.nav-item-right a {
    font-size: larger;
}

.nav-item-left {
    float: left;
}

.nav-item-left img {
    padding-right: 4px;
}

.nav-item-left a {
    font-size: x-large;
}

/******************* About Me **********************/

.container-aboutMe {
    background: #C2B8A3;
    width: 100%;
    min-height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10% 2%;
}

.aboutMe {
    background: #F8F4EC;
    border-radius: 1%;
    width: 80%;
    height: auto;
    margin: 10px;
    padding: 6%;
}

.aboutMe h3 {
    padding: 0 0 2rem 0;
}

/******************* Projects div *********************/
.projects {
    padding: 8vh 0 0 0;
}

.projects h4 {
    text-align: center;
}

.projects-row {
    margin-left: 8vh;
    margin-right: 8vh;
}

.projects-container {
    /* background: #F8F4EC; */
    padding: 12px;
    min-height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-info {
    background: #E6DDC6;
    border-radius: 1%;
    height: auto;
    margin: 8vh 0;
    padding: 8.5% 8.5% 4% 8.5%;
}

.projects-0 {
    background: #F8F4EC;
}

.projects-1 {
    background: #C2B8A3;
}

.projects-p {
    padding: 19px 0;
}


/******************* Technical Skills ********************/
.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.skills h3 {
    padding: 2rem 0;
}

.skills h4 {
    height: auto;
    padding: 5% 10%;
}

.skills .row {
    background: #E6DDC6;
    border-radius: 1%;
    padding: 1rem 4rem;
}

/******************* Experiences ********************/


.experience {
    position: relative;
    top: 2rem;
}

.experience .row {
    background: #C2B8A3;
    border-radius: 1%;
    padding: 4rem;
    margin: 4rem 0;
}

.experience,
.skills,
.education,
.contactMe {
    padding-left: 10%;
    padding-right: 10%;
}

/******************* Education ********************/

.education .row,
.contactMe {
    flex-direction: row;
    flex-wrap: wrap;
}

.education .col-sm-6 {
    background-color: #C2B8A3;
    border-radius: 1%;
    padding: 2rem;
    margin-bottom: 4rem;
}

.contactMe {
    margin: 0;
}

@media screen and (max-width: 600px) {
    h4 {
        font-size: 1.8rem;
    }

    .aboutMe {
        margin: 0;
        width: 98%;
    }

    .projects-row {
        margin: 0 2vh;
        padding: 4vh 0;
    }

    .projects-info {
        margin: 4vh 0;
    }

    .projects-container {
        min-height: 40vh;
        padding: 12px 0 0 0;
    }

    .experience {
        margin: 0;
        padding: 0;
    }

    .experience .row {
        margin: 6vh 2vh;
        padding: 4vh;
    }

    .temp {
        padding: 1%;
    }

    .icon-text {
        font-size: x-small;
    }


    .skills {
        padding: 0;
    }

    .skills-container {
        justify-content: center;
    }

    .skills .row {
        margin: 0 2vh;
        padding: 2vh;
    }

    .skills h4 {
        text-align: center;
    }
}